// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  .cart-items {
    ul {
      display: flex;
      list-style: none;
      li:first-child {
        display: flex;
        align-items: center;
        width: 500px;
        max-width: 100%;
        img {
          display: block;
          width: 50px;
        }
      }
      li:not(:first-child) {
        width: 200px;
        max-width: 100%;
      }
      li {
        padding: 10px 0 10px 5px;
        border: solid 1px #888888;
        .amount-edit {
          width: 60px;
          height: 40px;
          background-color: #228B22;
          border: solid 2px #228B22;
          border-radius: 5px;
          color: #ffffff;
          cursor: pointer;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &:hover {
            background-color: #ffffff;
            color: #228B22;
          }
        }
        select {
          width: 50px;
          height: 30px;
        }
        .delete {
          padding: 10px 20px;
          background-color: #DD0000;
          border: solid 2px #DD0000;
          border-radius: 5px;
          text-decoration: none;
          line-height: 40px;
          font-size: 0.8rem;
          color: #ffffff;
          cursor: pointer;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &:hover {
            background-color: #ffffff;
            color: #DD0000;
          }
        }
      }
    }
    .cart-items_head {
      li {
        background-color: #eeeeee;
      }
    }
    .cart-items_content {
      li:last-child,
      li:nth-child(3) {
        text-align: center;
      }
    }
    .after {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      .items-action {
        a {
          padding: 10px 30px;
          background-color: #00BFFF;
          border: solid 2px #00BFFF;
          border-radius: 5px;
          text-decoration: none;
          color: #ffffff;
          cursor: pointer;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &:hover {
            background-color: #ffffff;
            color: #00BFFF;
          }
        }
      }
      .total-price {
        display: flex;
        p {
          width: 150px;
          max-width: 100%;
          padding: 10px 0 10px 5px;
          border: solid 1px #888888;
        }
        p:first-child {
          background-color: #eeeeee;
        }
      }
    }
    .no-item {
      text-align: center;
      p {
        padding-bottom: 30px;
        font-size: 1.2rem;
      }
      a {
        padding: 10px 30px;
        background-color: #00BFFF;
        border: solid 2px #00BFFF;
        border-radius: 5px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #00BFFF;
        }
      }
    }
    .delete-all {
      margin-top: -30px;
      padding-bottom: 30px;
      text-align: right;
      a {
          padding: 10px 20px;
          background-color: #DD0000;
          border: solid 2px #DD0000;
          border-radius: 5px;
          text-decoration: none;
          line-height: 40px;
          font-size: 0.8rem;
          color: #ffffff;
          cursor: pointer;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &:hover {
            background-color: #ffffff;
            color: #DD0000;
          }
      }
    }
    .cart-info {
      padding: 30px 0;
      text-align: center;
      a {
        padding: 10px 30px;
        background-color: #228B22;
        border: solid 2px #228B22;
        border-radius: 5px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #228B22;
        }
      }
    }
  }
}