// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  .cart-items {
    ul {
      display: flex;
      list-style: none;
      li:first-child {
        display: flex;
        align-items: center;
        width: 350px;
        img {
          display: block;
          width: 50px;
        }
      }
      li:not(:first-child) {
        width: 130px;
      }
      li {
        padding: 10px 0 10px 5px;
        border: solid 1px #888888;
      }
    }
    .cart-items_head {
      li {
        background-color: #eeeeee;
      }
    }
  }
}