// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  .action {
    display: flex;
    align-items: center;
    padding: 0 0 40px 0;
    h2 {
      width: 150px;
      padding: 0;
    }
    .edit-action {
      text-decoration: none;
      padding: 10px 25px;
      background-color: #228B22;
      border: solid 2px #228B22;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: #ffffff;
        color: #228B22;
      }
    }
    .address-action,
    .order-action {
      text-decoration: none;
      padding: 10px 25px;
      background-color: #00BFFF;
      border: solid 2px #00BFFF;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: #ffffff;
        color: #00BFFF;
      }
    }
  }
  .customer-info {
    ul {
      padding-bottom: 50px;
      list-style: none;
      li {
        dl {
          display: flex;
          dt {
            width: 150px;
            padding: 15px 0 15px 5px;
            background-color: #eeeeee;
            border: solid 0.5px #808080;
          }
          dd {
            width: 500px;
            padding: 15px 0 15px 5px;
            border: solid 0.5px #808080;
          }
        }
      }
    }
  }
  .form-field {
    .edit-button {
      width: 74%;
      max-width: 100%;
      margin: 0 auto;
      padding: 20px 0;
      .button {
        width: 150px;
        height: 40px;
        background-color: #228B22;
        border: solid 2px #228B22;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #228B22;
        }
      }
    }
  }
  .withdrawal-action {
    width: 800px;
    max-width: 100%;
    margin-top: -50px;
    text-align: right;
    a {
      padding: 10px 30px;
      background-color: #DD0000;
      border: solid 2px #DD0000;
      border-radius: 5px;
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: #ffffff;
        color: #DD0000;
      }
    }
  }
  .withdrawal {
    padding: 100px 0;
    text-align: center;
    p:first-child {
      padding-bottom: 30px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .decision {
      padding-top: 50px;
      a {
        margin-right: 10px;
        padding: 10px 30px;
        background-color: #00BFFF;
        border: solid 2px #00BFFF;
        border-radius: 5px;
        text-decoration: none;
        font-size: 0.9rem;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #00BFFF;
        }
      }
      .button {
        width: 140px;
        height: 39px;
        margin-left: 10px;
        background-color: #DD0000;
        border: solid 2px #DD0000;
        border-radius: 5px;
        font-size: 0.9rem;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #DD0000;
        }
      }
    }
  }
}