// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  .about-title {
    text-align: center;
    font-size: 2.5rem;
  }
  .about-text {
    text-align: center;
    line-height: 35px;
  }
}