<main>
  <h1 class="about-title">About</h1>
  <div class="about-text">
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国への発送が可能ですので「いつ」でも「どこでも」ご注文いただけます。<br>
    ぜひ、ご注文ください。</p>
  </div>
  <div class="about-img">
    <%= image_tag('cake-varietion') %>
  </div>
</main>
