<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre, url:admin_genres_path, local:true do |f| %>
<%= f.text_field :name %>
<%= f.submit "登録" %>
<% end %>

<% @genres.each do |genre| %>
<%= genre.name %>
<% end %>
