// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  width: 90%;
  margin: 0 auto;
  h1 {
    padding: 80px 0 50px 0;
    color: #222222;
  }
  .form {
    width: 700px;
    margin: 0 auto;
    .form_group {
      display: flex;
      padding: 15px 0;
      .label {
        display: block;
        width: 150px;
      }
      p {
        width: 150px;
      }
      .form-box {
        width: 400px;
        height: 40px;
      }
      .introduction {
        height: 200px;
      }
    }
    .submit-button {
      text-align: center;
      padding: 50px  0 70px 0;
      .button {
        width: 150px;
        height: 40px;
        background-color: #228B22;
        border: solid 2px #228B22;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #228B22;
        }
      }
    }
  }
  .item-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-content_image {
      width: 400px;
      max-width: 100%;
      .img {
        width: 100%;
      }
    }
    ul {
      width: 550px;
      list-style: none;
      li {
        padding-bottom: 15px;
        display: flex;
        p:nth-child(1) {
          width: 100px;
          
        }
        p:nth-child(2) {
          width: 400px;
          max-width: 100%;
          font-size: 1.1rem;
        }
      }
    }
  }
  .item-edit {
    padding: 50px 0 70px 0;
    text-align: center;
    .edit-button {
      padding: 12px 30px;
      text-decoration: none;
      background-color: #228B22;
      border: solid 2px #228B22;
      border-radius: 5px;
      color: #ffffff;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: #ffffff;
        color: #228B22;
      }
    }
  }
  .item-list {
    ul {
      list-style: none;
    }
  }
}