// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  width: 90%;
  margin: 0 auto;
  h1 {
    padding: 70px 0 40px 0;
    color: #222222;
  }
  .new-item-action {
    padding-bottom: 20px;
    text-align: right;
    .new-item-button {
      .fa-plus {
        padding: 20px;
        border: solid 2px #888888;
        border-radius: 50%;
        color: #888888;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          border: solid 2px #a00a40;
          color: #a00a40;
        }
      }
    }
  }
  .form {
    width: 700px;
    margin: 0 auto;
    .form_group {
      display: flex;
      padding: 15px 0;
      .label {
        display: block;
        width: 150px;
      }
      p {
        width: 150px;
      }
      .form-box {
        width: 400px;
        height: 40px;
      }
      .introduction {
        height: 200px;
      }
    }
    .submit-button {
      text-align: center;
      padding: 50px  0 70px 0;
      .button {
        width: 150px;
        height: 40px;
        background-color: #228B22;
        border: solid 2px #228B22;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #228B22;
        }
      }
    }
  }
  .item-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-content_image {
      width: 400px;
      max-width: 100%;
      .img {
        width: 100%;
      }
    }
    ul {
      width: 550px;
      list-style: none;
      li {
        padding-bottom: 15px;
        display: flex;
        p:nth-child(1) {
          width: 100px;
          
        }
        p:nth-child(2) {
          width: 400px;
          max-width: 100%;
          font-size: 1.1rem;
        }
      }
    }
  }
  .item-edit {
    padding: 50px 0 70px 0;
    text-align: center;
    .edit-button {
      padding: 12px 30px;
      text-decoration: none;
      background-color: #228B22;
      border: solid 2px #228B22;
      border-radius: 5px;
      color: #ffffff;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: #ffffff;
        color: #228B22;
      }
    }
  }
  .item-list {
    .item-list_name {
      > ul {
        display: flex;
        padding: 10px 0;
        list-style: none;
        background-color: #EEEEEE;
        border-top: solid 1px #222222;
        border-bottom: solid 1px #222222;
        > li:first-child {
            width: 90px;
            max-width: 100%;
            padding-left: 5px;
        }
        > li:nth-child(2) {
            width: 300px;
            max-width: 100%;
        }
        > li:nth-child(3) {
            width: 150px;
            max-width: 100%;
        }
        > li:nth-child(4) {
            width: 300px;
            max-width: 100%;
        }
        > li:last-child {
            width: 100px;
            max-width: 100%;
        }
        > li {
          font-weight: bold;
        }
      }
    }
    .item-list_content {
      ul {
        display: flex;
        list-style: none;
        li:first-child {
          width: 90px;
          max-width: 100%;
          padding-left: 5px;
        }
        li:nth-child(2) {
          width: 300px;
          max-width: 100%;
            .link {
              color: #222222;
              text-decoration: underline;
              -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
              &:hover {
                color: #a00a40;
              }
            }
        }
        li:nth-child(3) {
          width: 150px;
          max-width: 100%;
        }
        li:nth-child(4) {
          width: 300px;
          max-width: 100%;
        }
        li:last-child {
          width: 100px;
          max-width: 100%;
        }
        li {
          padding: 5px 0;
        }
      }
    }
  }
}